<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="cliente" (ngSubmit)="grabar()">
      <div class="mb-2">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" formControlName="Nombre" />
        <!-- @if (stock.invalid && (stock.dirty || stock.touched)) {
        <div class="alert">
          @if (stock.errors?.["required"]) {
          <div class="ng-invalid">Cantidad es requerido</div>
          }@else if (stock.errors?.["minlength"]) {
          <div>Debe tener minimo 7 caracteres.</div>
          }@else if (stock.errors?.["maxlength"]) {
          <div>Debe tener maximo 17 caracteres.</div>
          }
        </div>
        } -->
      </div>
      <div class="mb-2">
        <label for="Correo">Correo</label>
        <input type="email" class="form-control" formControlName="Correo" />
        <!-- @if (stock.invalid && (stock.dirty || stock.touched)) {
        <div class="alert">
          @if (stock.errors?.["required"]) {
          <div class="ng-invalid">El Precio_Venta electrónico es requerido</div>
          }@else if (stock.errors?.["email"]) {
          <div>No posee el formato de Precio_Venta electrónico</div>
          }
        </div>
        } -->
      </div>

        <div class="mb-2">
        <label for="Telefono">Telefono</label>
        <input type="email" class="form-control" formControlName="Telefono" />
        <!-- @if (stock.invalid && (stock.dirty || stock.touched)) {
        <div class="alert">
          @if (stock.errors?.["required"]) {
          <div class="ng-invalid">El ProveedorId electrónico es requerido</div>
          }@else if (stock.errors?.["email"]) {
          <div>No posee el formato de ProveedorId electrónico</div>
          }
        </div>
        } -->
      </div>

      <div class="mb-2">
        <button
          type="submit"
          class="btn btn-primary"

        >
          Grabar
        </button>
        <button class="btn btn-secondary" routerLink="/clientes">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
